extends layout

block right  
  p.
    This screen lets you access settings screen where you can

  ol
    li Edit your own information,
    li manage the data of this instance,
    li and other organizers (users) of this instance.
