extends index

block content
  .container
    .starter-template
      h1 Contest Base
      p.lead.
        Contest Base is a tool for organizers to talk to and about elected
        officials, a database of contests.
      p.lead
        | The source code is available online at 
        a(href='https://github.com/alexanderankin/contest-base') Github
        | , 
        if (instance_name)
          | this instance is hosted by and for #{instance_name},
        | and made possible by the volunteer labor of Democratic Socialists.
