extends layout

block body
  <nav id="topnav" class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/" tabindex="-1">
      <div style="width: 40px;">
        <img src="/cb-idea-2-notsquare.png" style="width: 100%;">
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        script.
          $(function() { $('#topnav a.nav-link').each(function() {
            if (window.location.pathname === this.pathname )
              $(this.parentElement).toggleClass('active')
          }); });
      </ul>
      <a href="/login" class="btn btn-outline-success my-2 my-sm-0">Login</a>
    </div>
  </nav>

  block content
