extends interface

block content
  a(href='/settings')
    h3 Settings

  p.
    Eventually this will have cool stuff in it, for now its just an install
    link placeholder.

  p.
    Click #[a(href='/settings/install') here] to install or reset the database.
